<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Serach book and client</title>
</head>
<body>
<h1>Список клиентов и книг</h1>

<form th:action="@{/client}" method="get">
    <label for="firstName">Имя</label>
    <input type="text" id="firstName" name="firstName" th:value="${clientFilterIn.firstName}">

    <label for="lastName">Фамилия</label>
    <input type="text" id="lastName" name="lastName" th:value="${clientFilterIn.lastName}">

    <label for="patronymic">Отчество</label>
    <input type="text" id="patronymic" name="patronymic" th:value="${clientFilterIn.patronymic}">

    <label for="birthDate">Дата рождения</label>
    <input type="date" id="birthDate" name="birthDate" th:value="${clientFilterIn.birthDate}">

    <input type="hidden" name="page" th:value="${currentPage}">
    <input type="hidden" name="size" th:value="${size}">

    <button type="submit">Поиск</button>
</form>

<!-- Таблица с клиентами -->
<table border="1">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Дата рождения</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.firstName}"></td>
        <td th:text="${client.lastName}"></td>
        <td th:text="${client.patronymic}"></td>
        <td th:text="${client.birthDate}"></td>
    </tr>
    </tbody>
</table>

<div>
    <span th:if="${currentPage > 0}">
        <a th:href="@{/clients?page=${currentPage - 1}&size=${size}&firstName=${clientFilterIn.firstName}&lastName=${clientFilterIn.lastName}&patronymic=${clientFilterIn.patronymic}&birthDate=${clientFilterIn.birthDate}}">Предыдущая</a>
    </span>

    <span>Страница <span th:text="${currentPage + 1}"></span> из <span th:text="${totalPages}"></span></span>

    <span th:if="${currentPage < totalPages - 1}">
        <a th:href="@{/clients?page=${currentPage + 1}&size=${size}&firstName=${clientFilterIn.firstName}&lastName=${clientFilterIn.lastName}&patronymic=${clientFilterIn.patronymic}&birthDate=${clientFilterIn.birthDate}}">Следующая</a>
    </span>
</div>
</body>
</html>
