<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client List</title>
</head>
<body>
<h1>Все клиенты</h1>

<div th:if="${clients != null and clients.size() > 0}">
    <h3>Имя и фамилия</h3>
    <ul>
        <li th:each="client : ${clients}">
            <a th:href="@{/client/{id}(id=${client.id})}" th:text="${client.firstName} + ' ' + ${client.lastName}"></a>
        </li>
    </ul>
</div>

<div th:if="${clients == null or clients.size() == 0}">
    <p>Клиенты не созданы.</p>
</div>

<h2>Добавить клиента</h2>
<form th:action="@{/client}" th:object="${newClient}" method="post">
    <div>
        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required/>
    </div>
    <div>
        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required/>
    </div>
    <div>
        <label for="patronymic">Отчетсво (опциально):</label>
        <input type="text" id="patronymic" th:field="*{patronymic}"/>
    </div>
    <div>
        <label for="birthDate">Дата рождения:</label>
        <input type="date" id="birthDate" th:field="*{birthDate}" required/>
    </div>
    <div>
        <button type="submit">Добавить клиента</button>
    </div>
</form>

<a href="/home">Вернуться на главную</a>
</body>
</html>
